.button {
    height: 30px;
    width: 190px;
    border-radius: 25px;
    border: none;
    background-color: rgb(171, 114, 245);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 0px 0px rgb(198, 186, 216);
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
    font-style: 12px;
}

.button:active {
    box-shadow: none;
    transform: translateY(2px);
    font-style: 12px;
}
